apiVersion: v1
kind: Namespace
metadata:
  name: staging
---
apiVersion: v1
kind: LimitRange
metadata:
  name: default-cpu-mem-limit-range
  namespace: staging

spec:
  limits:
    - default:
        cpu: "500m"
        memory: "512Mi"
      defaultRequest:
        cpu: "300m"
        memory: "256Mi"
      type: Container
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: ns-resource-quota
  namespace: staging
spec:
  hard:
    requests.cpu: "2"
    requests.memory: "1Gi"
    limits.cpu: "2"
    limits.memory: "2Gi"
    pods: "7"
    configmaps: "2"
    persistentvolumeclaims: "2"
    secrets: "7"
    services: "2"
