apiVersion: v1
kind: Namespace
metadata:
  name: staging
---
apiVersion: v1
kind: LimitRange
metadata:
  name: default-cpu-mem-limit-range
  namespace: staging

spec:
  limits:
    - default:
        cpu: "500m"
        memory: "512Mi"
      defaultRequest:
        cpu: "300m"
        memory: "256Mi"
      type: Container
