apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: staging

spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ebs-sc

  resources:
    requests:
      storage: 2Gi
