<h4>Recommended for team</h4>
<div>
  <% @recs.each do |id| %>
    <% rec = Upload.find_by(id: id) %>
      <% if rec.present? && rec.upload_attachment.present? %>
        <%= link_to "Download", ENV['CLIENT_HOST'] +
        Rails.application.routes.url_helpers
          .rails_blob_path(rec.upload_attachment.file,
            disposition: 'attachment', only_path: true) %>
      <% end %>
  <% end %>
</div>
